body {

    background-color: #202124;
    font-size: 14px;
    margin: 0;
    height: 100vh;
}

main{

    display: flex;
    flex-direction: column;
    height: 100%;
}

.linkContainer {

    display: flex;
    justify-content: space-between;
    height: 100px;
    display: flex;

}

.chiSiamo {

    margin: 10px;

}

.store {

    margin: 10px;


}

.gmail {

    margin: 10px -100px 0px 791px;

}

.immagini {

    margin: 10px 0px 0px 117px;

}

.searchContainer{

    flex-grow: 1;
}


.img {
    width: 20%;
    height: 20%;
    margin: 0 auto;
    display: block;

}

.link {
    color: #bdc1c6;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px
}

.link1 {

    color: white;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px
}



.link:hover {
    color: beige;

}

.input {

    display: block;
    width: 80%;
    height: 30px;
    background-color: #202124;
    border: none;
    margin: 4px 10px;
    outline: none;
    color: white
}

.inputContainer {
    border: 1px solid #5f6368;
    border-radius: 20px;
    width: 600px;
    height: 40px;
    margin: 50px auto 20px;
    display: flex;

}


.flexContainer {
    text-align: center;

    ;
}

.accedi {

    margin: -10px;


}


button {

    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 7px;
    padding: 10px;
    color: #e8eaed;
    margin: 11px 4px;


}

button:hover {

    border: 1px solid #e8eaed;

}

.marginDiv {

    margin: -40px 0 -30px;

}

.lenteDimensione {

    width: 26px;
    padding: 7px 0 0 20px;
    color: #9aa0a6;

}

.lenteSetting {
    color: #9aa0a6;
    fill: currentColor;
    width: 26px;
    padding: 7px 0 0 20px;
}

.botton3 {

    background: #1a73e8;
    padding: 9px 23px;
}

.accedi {

    margin: -12px 7px;
}

.grigliaGoogle {

    color: #fff;
    opacity: 0.8;
    fill: currentColor;
    height: 24px;
    width: 24px;
    margin: 7px 7px 0px 18px;
}

.microfonoTest {

    height: 24px;
    width: 24px;
    margin: 6px;
}

a {

    white-space: nowrap;
}

.fineContenuto {

    display: flex;
}

.linksContainer {

    display: flex;
    margin: 0px 0px -50px;

}


footer{

    background-color: #171717
    
}

footer a{

    color: #9aa0a6;
    font-family: arial,sans-serif;
    font-size: 15px;
}


.divItalia {

    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #9aa0a6;


}

.itsetting {

    color: #9aa0a6;
    font-size: 17px;


}


.primaColonna {

    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    display: block;
}


.italia {

    color: #9aa0a6;
    font-size: 15px;
    font-family: arial, sans-serif;

}

.pubblicità {

    display: block;
    white-space: nowrap;
}

.secondaColonna{

    display: flex;
    justify-content: space-between;
    
}

.divPrimo,
.divSecondo,
.divTerzo{

    display: flex;

  }


  .divCarbon{

    display: flex;
    margin: 15px;
  }
  
  .foglia{
    width: 12.5px;
    height: 14px;
    margin-right: 8px;
    
  }

  .divPrimo > div{
   margin: 15px;
 
  }

  .divSecondo > div{

    margin: 15px;
  }

  .divTerzo > div{

    margin: 15px;
  }

